body {
    font-family: 'Roboto Mono', monospace;
    min-height: 854px;
    background-color: #000000;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    padding-bottom: 20vh;
}

.container {
    text-align: center;
    padding: 20px;
    background-color: #000000;
}

.page-logo{
    max-width: 60%;
    max-height: 300px;
}

.page-title {
    color: #ffffff;
    margin: 5px 0;
}

button, .button-play {
    padding: .8rem 1.5rem;
    margin: 1rem 0;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
}

h2 {
    color: white;
}

#player-card, #machine-card {
    width: 360px;
    height: 500px;
    overflow: auto;
    border-radius: 10px;
    margin-bottom: 20px;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    position: relative;
    background-size: 350px 300px;
    background-repeat: no-repeat;
    background-position-x: 5px;
    background-position-y: 10px;
    border-radius: 33px;
}

#player-card h3 {
    text-align: center;
}

.image-card {
    border: 1px solid black;
    height: 100px;
    margin: 10px;
}

.image-card img {
    width: 100%;
    height: 100%;
}

.card-infos {
    height: 160px;
    padding-top: 20px;
    margin: 2rem;
    z-index: 2;
    font-weight: bold;
    color: #6B727A;
}

.card-infos input {
    margin: 20px;
}

.final-result {
    color: red;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bolder;
    padding: 1rem;
    border: 2px solid black;
    background-color: black;
}

.--spacing {
    margin-left: 2.5rem;
}

form {
    display: flex;
    flex-direction: column;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.card-subtitle {
    z-index: 2;
    position: absolute;
    top: 16px;
    left: 37px;
    font-weight: 800;
    text-transform: uppercase;
}

#deck {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.card-infos p {
    margin-bottom: 2rem;
}

